html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg01.ps01.net%2Fuploads%2Fallimg%2F200328%2F1Q95HG8-1.png&refer=http%3A%2F%2Fimg01.ps01.net&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1625798992&t=cff507d08bc451f4d1bda9440d67dde5.jpg")no-repeat center center fixed;
    -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}

.top-nav-collapse {
  background-color: #24355C;
}